@charset "UTF-8";
/*notice_view*/
.noticeMainContent {
	display: inline-flex;
	width: 60%;
	justify-content:center;
	align-items:stretch;
	flex-wrap: wrap;
	padding: 50px 0;
}

.notice_MenuSection{
    display:inline-block;
    width:100%;
}
.notice_menu{
    display:inline-flex;
    width:100%;
    flex-wrap:wrap;
    padding:30px 0;
    border-bottom:2px solid rgba(226, 192, 192, 0.9);
    margin-bottom:10px;
}
.notice_menu >nav{
    display:inline;
    width:100%;
    text-align:left;
    font-weight:600;
}
.notice_menu >nav:first-child{
    font-size:1.8em;
}
.notice_menu >nav:nth-child(2){
    padding:5px 0;
    font-size:2.3em;
}
.notice_menu >nav:last-child{
    font-size:1.5em;
    color:rgb(148, 137, 125);
    font-weight:400;
}
.notice_MenuSection li:last-child{
    font-size:1.8em;
}
.notice_MenuSection li:last-child *{
    font-size:inherit;
}
.notice_MenuSection li:last-child *>img{
    display:inline-block;
    width:90%;
}