.orderCompleteBox {
    position:relative;
	display: inline-flex;
	width: 50%;
	justify-content:center;
	flex-wrap: wrap;
	margin-top:5vh;
	padding: 5vh 0;
}
.orderComplete_category{
    position:absolute;
    display:inline-block;
    top:0;
    left:0;
    font-size:1.5em;
    font-weight:600;
    cursor:pointer;
}
.orderCompleateHeader{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}
.orderCompleateHeader h1{
    width:100%;
    font-size:3em;
    font-weight:600;
    text-align:center;
}
.orderHeader_comment{
    display:flex;
    width:360px;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    border:1px solid rgba(210, 255, 250, 1);
    font-size:2em;
    padding:2vh 2vw;
    margin-top:2vh;
    border-radius:10px;
}
.orderHeader_comment *{
    display:inline-block;
    text-align:center;
    font-size:inherit;
    padding-top:1vh;
}
.orderCompleteCotent{
    display:inline-block;
    width:100%;
    border-top:1px solid rgba(132, 170, 170,0.8);
    border-bottom:1px solid rgba(132, 170, 170,0.8);
    padding-top:2vh;
    margin-top:4vh;
}
.orderCompleteCotent div{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    padding-bottom:2vh;
}
.orderCompleteCotent div>dt{
    display:flex;
    width:80px;
    font-size:1.5em;
    color:rgb(92, 121, 121);
    margin-right:2vw;
    padding-left:1vh;
}
.orderCompleteCotent div>dd{
    font-weight:400;
    font-size:1.3em;
}
.orderCompleteCotent div>dd *{
    font-size:inherit;
}
.order_completeBtn{
    width:80%;
    font-size:2em;
    color:white;
    margin-top:4vh;
    padding:10px;
    text-align:center;
    border-radius:5px;
    background-color:rgb(124, 216, 223);
}