@charset "UTF-8";
.writer_Form{
    display:flex;
    width:50%;
    justify-content:center;
    flex-wrap: wrap;
    padding:10px 15px;
    margin: 10px 0px;
}
.writere_tag{
    display:inline-block;
    width:100%;
    font-size:1.6em;
    padding:5px 5px;
}
/* 헤더 부분 */
.writer_qna_header{
    display:inline-block;
    width:100%;
    padding:10px;
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
}
.writer_qna_header > h1{
    display: inline-block;
    width:100%;
    text-align:center;
    font-size: 2em;
    font-weight:400;
}
.writer_qna_header > h1> span{
    font-size: inherit;
}
.qna_basicInfo{
    display:inline-block;
    width:100%;
    text-align:right;
}
.qna_basicInfo > span{
    font-size: 1.5em;
    font-weight: 400;
}
/* 파일업로도 */
.fileUploadPart{
    display:inline-block;
    width:100%;
    padding:10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.boardFileUploadName{
    display:inline-block;
    padding:10px 15px;
    float:left;
    font-size: 1.3em;
    background-color:aliceblue;
    border-radius: 5px;
    cursor: pointer;
    text-align:center;
}
/* 파일미리보기 부분 */
.preview_upload{
    display:inline-block;
    padding:10px 15px;
}
.fileUpload_name{
    font-size: 1.5em;
}
.boardPreview{
    width:30px;
}
.removeBtn{
    border-radius: 10px;
    padding:5px;
    margin-left: 5px;
    color:rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,0.1);
    border:0px;
    cursor:pointer;
}
/* text 영역 */
.qnaTextBox{
    display:inline-block;
    width:100%;
    height:600px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}

.qnaTextBox > textarea[name="content"]{
    display:inline-block;
    width:100%;
    height:100%;
    font-size:1.5em;
    border:0px;
    resize:none;
}

.qnaSendbtn{
    display:inline-block;
    padding:10px 15px;
    font-size:1.8em;
    margin-top:10px;
    border:0px;
    border-radius:5px;
    cursor:pointer;
    background:#75ebf5;
    color:white;
}