@charset "UTF-8";
/* pageCount */
.info_nextPrev{
     cursor:pointer;
     border:0px solid black;
     background:transparent;
     cursor:pointer;
     font-size:1.2rem;
 }
.pageCount{
    display:inline-block;
    margin-top:2vh;
}
.info_pageNum {
    font-size: 1.5rem;
    border: 0px solid black;
    background: transparent;
    cursor: pointer;
}