.confirm_box{
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    background:transparent;
    justify-content:center;
    align-items:center;
    z-index:50;
}
.confirmContainer{
    display:inline-block;
    width:220px;
    border:1px solid #d2c3c3;
    border-radius:5px;
    background:white;
}
.confirmContainer h2{
    width:100%;
    font-size:1.5em;
    font-weight:600;
    background:#009fff;
    color:white;
    text-align:left;
    padding:10px 5px;
}
.confirmContainer p{
    padding:1vh 0;
    font-size:1.5em;
    text-align:center;
}
.confirmBtn{
    display:flex;
    width:100%;
    justify-content:space-around;
    padding:2vh 0;
}
.confirmBtn button{
    padding:5px 15px;
    border:0px;
    background:black;
    color:white;
    font-size:1.5em;
    border-radius:15px;
    cursor:pointer;
}