@charset "UTF-8";
/*
input,textarea {
    caret-color: transparent;
  }
  */
*{
    box-sizing:border-box;
    margin:0px;
    font-size:10px;
}
html,body{
    position:relative;
    width:100%;
    font-family:'Noto Sans KR', sans-serif;
}
ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
a{
    text-decoration:none;
    color:black;
    font-size: inherit;
}
.blind{
    position:absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow:hidden;
}
.box{
    position:relative;
    display:inline-block;
    width:100%;
    min-height:100vh;
    padding-bottom:59px;
}
/* header part */
.shopHead{
    position: relative;
    display:inline-flex;
    width:100%;
    height:100px;
    align-items: center;
    background-color:#D91A2A;
    padding:70px 0px;
}
/* shopTitle */
.shopTitle{
    display:inline-flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding-left:20px;
}
.shopLogoBox{
    display:inline-block;
    width:90%;
    height:50px;
    overflow:hidden;
    font-size:3em;
    font-weight: 600;
    text-align:center;
}
.shopLogo{
    display:inline-block;
    margin-top:-70px;
    height:200px;
    cursor: pointer;
}
.shopLogo span{
    display:inline-block;
    width:100%;
    height:100%;
}
.shopLogo span>img{
    width:100%;
    height:100%;
}
/* navLeft */
.navLeft{
    position: absolute;
    display:inline-block;
    padding:5px;
    top:0;
    right:0;
}
.current_artist{
    display:inline-block;
    padding:3px 15px;
    background-color:black;
    color:white;
    font-size:2em;
    font-weight:600;
    border-radius:80px;
}
.current_artist span{
    font-size:inherit;
}
.leftForm{
    display:inline-block;
}

.header_btn{
    display:inline-block;
    cursor:pointer;
    margin-right:10px;
    font-size:2rem;
    background-color:transparent;
    border:0px;
}
.header_btn i{
    font-size:inherit;
}
/* bilboard */
.shopBody{
    display:inline-flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
    background-color:white;
}

/* footer */
.shopBottom{
    position:absolute;
    display:inline-block;
    width:100%;
    height:59px;
    color:#000;
    border-top:1px solid rgba(0,0,0,0.5);
    text-align:center;
    font-size:2em;
    bottom:0px;
    left:0px;
}
.footerInfo{
    display:inline-block;
}
.none{
    display:none;
}
.inlineblock{
    display:inline-block;
}
input[hidden="hidden"]{
    display:none;
}
.fontWeight_bold{
    font-weight:600;
}
.margin-Left10{
    margin-left:10px;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-start{
    justify-content:flex-start;
}
.align-items-center{
    align-items:center;
}
.align-items-left{
    align-items:left;
}