.createAccount{
    display:inline-flex;
    width:30%;
    max-width: 400px;
    min-width: 350px;
    justify-items:center;
    flex-wrap: wrap;
    align-items:center;
}
/* 제목 */
.createAccount>h1{
    display:inline-block;
    width:100%;
    font-size:3em;
    text-align:center;
}
.createAccountForm{
    display:inline-flex;
    width:100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    justify-items:center;
    flex-wrap:wrap;
}
.createAccountForm input{
    padding: 15px 10px;
}
.createInfo{
    position:relative;
    display:inline-block;
    width:100%;
    min-width: 330px;
    border-radius: 4px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
/* id */
.inlineblock{
    display:inline-block;
}
.none{
    display: none;
}
.InspectMessage{
    width:100%;
    padding:10px 0px;
    color:orangered;
    font-size:1em;;
    text-align:center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* 이메일 */
.email_authBtn{
	position: absolute;
	display: inline-block;
	padding: 10px 15px;
	font-size: 1em;
	height: 100%;
    border:0px;
    color:#ffffff;
    background-color: #000000;
	right: 0;
	cursor: pointer;
}

.createInfo>input{
    width:100%;
    font-size:1.5em;
    border:0px;
}

/* RADIO 성별 선택 */
.radioBox{
    display:inline-flex;
    width:100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding:10px 0;
    justify-content:center;
}

.radioBox >.radio_item:first-child{
    margin-right: 5px;
}

.radio_item{
    position: relative;
    display: inline-block;
    width:40%;
    min-width: 140px;
    padding:10px 15px;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
}
.radio_item input[type=radio]:checked + label{
    color:white;
    background-color: black;
}
.radio_item>input[type=radio]{
    display:inline-block;
    position: absolute;
    width:100%;
    left:0;
    height:100%;
    top:0;
    opacity:0;
    z-index: 1;
    cursor:pointer;
}
.radio_item>label{
    display:inline-block;
    width:100%;
    text-align:center;
    border-radius: inherit;
    font-size:1.5em;
}


/* 주소 */
.addrInfo{
    display:inline-flex;
    width:100%;
    justify-content:center;
    flex-wrap: wrap;
    border-bottom: 1px solid  rgba(0,0,0,0.1);
    padding:10px 10px;
}
.addrInfo>nav{
    display:inline-flex;
    width:95%;
    justify-content:space-between;
}   

.addrInfo nav>input{
    border: 1px solid  rgba(0,0,0,0.1);
}

.addrContent{
    display:inline-block;
    width:100%;
    margin-top:5px;
    margin-right:3px;
}

.addrContent:first-child>input{
    display:inline-block;
    width:73%;
    min-width: 220px;
}

.postBtn{
    display:inline-block;
    width:90px;
    padding:10px 15px;
    color:#ffffff;
    background-color: #000000;
    font-size:1.2em;
    cursor:pointer;
}

.addrContent:nth-child(2)>input{
    display:inline-block;
    width:100%;
    min-width: 297px;
}

.addrContent:last-child>input:first-child{
    display:inline-block;
    width:58%;
    margin-right:3px;
    min-width: 172px;
}
.addrContent:last-child>input:last-child{
    display:inline-block;
    width:40%;
    min-width: 118px;
}
/* create btn */
.createAcoountBtn{
    width:100%;
    padding:20px 0px;
    font-size:1.5em;
    color:#ffffff;
    cursor: pointer;
    background-color: #000000;
}
