@charset 'utf-8';
@media screen and (max-width:1024px) {
     .backgroud_searchBox{
         align-items:flex-start;
     }
     .searchBox{
         width:100%;
     }
     .searchBox_header{
         border-radius:0px;
     }
     .search_show_title h2{
         font-size:7vw;
     }
     .search_show_artist{
         border-radius:0px;
     }
     .shopInfo{
        width:100%;
     }

     /* about-member */
     .memberSwiper{
         width:50vw;
     }
    .about_memberBox{
        width:150px;
    }
    .about_member{
        height:150px;
    }

    /* about_subMenu */
    .discography_Box{
        width:90vw;
    }

    /*shop*/
    .shopMainContent{
        width:99%;
    }
     /*sticky shopInfo*/
    .stickyItemBox{
        width:99%;
    }

    /*basket*/
    .basketContent{
        width:100%;
    }
    .basketName{
        font-size:1.4em;
    }
    .basketEdit_contentBox{
        width:100%;
    }
}
@media screen and (max-width:420px){
    /* myPage*/
    .myPageBox{
        width:100%;
    }
    .myPage_orderStatus dt{
        font-size:1em;
    }
    /*회원가입*/
    .createAccount{
        width:100%;
    }

    /* about- member */
    .memberSwiper{
        width:100vw;
    }
    .about_memberBox{
        width:100px;
    }
    .about_member{
        height:100px;
    }
    .about_memberInfo span:first-child{
        font-size:1.3em;
    }
    .about_memberInfo span:last-child{
        font-size:0.9em;
    }
    /* about_subMenu */
    .discography_Box{
        width:90vw;
    }
    .discography_content{
        width:100px;
    }
    .discography_img{
        height:100px;
    }
    .aboutInfo_menu *{
        font-size:2vw;
    }

    /* main */
    .chapter_mainBox{
        width:100%;
    }
    .chapter_mainTitle h2{
        font-size:1.8em;
    }

    /*shop*/
    .shopMainContent{
        width:90%;
    }
    .shopEtc_contentBox{
        justify-content:space-between;
    }
    .shopEtc_content{
        width:45%;
        margin-right:2vw;
    }
    .shopEtc_contentImg{
        height:150px;
    }
    /*shopInfo*/
    .shopInfo_optionBox{
        width:100%;
    }
    .stickyItemBox{
        width:100%;
    }
    .stickyHeader{
        width:100%;
    }
    /*header*/
    .current_artist{
        font-size:3vw;
    }
    .orBox{
           width:100%;
    }
    .resizeMenu_partBox{
        width:100%;
    }
    .second_resizeMenu_partBox{
            width:100%;
    }
}