@charset 'utf-8';
@media screen and (max-width:1024px) {
     .backgroud_searchBox{
         align-items:flex-start;
     }
     .searchBox{
         width:100%;
     }
     .searchBox_header{
         border-radius:0px;
     }
     .search_show_title h2{
         font-size:7vw;
     }
     .search_show_artist{
         border-radius:0px;
     }
     .shopInfo{
        width:100%;
     }
    /*shop*/
    .shopMainContent{
        width:99%;
    }
     /*sticky shopInfo*/
    .stickyItemBox{
        width:99%;
    }

    /*basket*/
    .basketContent{
        width:100%;
    }
    .basketName{
        font-size:1.4em;
    }
    .basketEdit_contentBox{
        width:100%;
    }
}
@media screen and (max-width:420px){
    /* main */
    .chapter_mainBox{
        width:100%;
    }

    /*shop*/
    .shopMainContent{
        width:90%;
    }
    .shopEtc_contentBox{
        justify-content:space-between;
    }
    .shopEtc_content{
        width:45%;
        margin-right:2vw;
    }
    .shopEtc_contentImg{
        height:150px;
    }
    /*header*/
    .current_artist{
        font-size:1.5em;
    }
    .orBox{
           width:100%;
    }
    .resizeMenu_partBox{
        width:100%;
    }
    .second_resizeMenu_partBox{
            width:100%;
    }
}