.shopMainContent {
	display: inline-flex;
	width: 70%;
	justify-content:center;
	flex-wrap: wrap;
	padding: 20px 0;
}
/* category 부분 */
.shopEtc_header{
    display:inline-block;
    width:100%;
    margin-bottom:20px;
    text-align:center;
}
shopEtc_headerMenu{
    font-size:2em;
}
.shopEtc_select{
    border:0px;
    font-size:inherit;
    cursor:pointer;
    padding:8px 15px;
    background-color:transparent;
    color:black;
    font-weight:600;
    border:1px solid black;
}
.shopEtc_headerTitle{
    font-size:3em;
    padding:10px 0px;
}
/* 상품 부분 */
.shopEtc_contentBox{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}
.shopEtc_content{
    position:relative;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
    margin-top:20px;
    margin-right:10px;
}
.btnLike{
    position:absolute;
    display:inline-block;
    right:0;
    top:0;
    border:0;
    font-size:1.5em;
    cursor:pointer;
    background:transparent;
}
.shopEtc_contentImg{
    display:inline-block;
    width:100%;
    height:240px;
}
.shopEtc_contentImg img{
    display:inline-block;
    width:100%;
    height:100%;
}
/* 상퓸 이름 가격 장바구니 */
.shopEtc_contentInfo{
    display: inline-flex;
    width: 100%;
    justify-content:center;
    flex-wrap:wrap;
}
.shopEtc_contentInfo *{
    font-size:1.5em;
}
.shopEtc_contentInfo h1{
    font-weight:400;
}
.shopEtc_contentInfo p{
    font-weight:600;
}
.shopEtc_contentInfo h1, p{
    display:inline-block;
    width:100%;
    text-align:left;
}
