.rootContentBox{
    display:flex;
    width:80%;
    justify-content:center;
    flex-wrap:wrap;
}
.managementBox{
    display:inline-block;
    width:100%;
}
.managementContainer{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:1vh 0;
}
.managementContainer a{
    display:inline-block;
    width:250px;
    padding:40px 15px;
    color:white;
    font-size:2em;
    border-radius:5px;
    text-align:center;
    background:black;
    margin-right:1vh;
}
.managementContainer a:last-child{
    margin-right:0;
}