@charset "UTF-8";
/*slide*/
.about_imageWindow{
    position: fixed;
    display:flex;
    width:100%;
    height:100%;
    background:#000000;
    justify-content:center;
    align-items:center;
    z-index: 2;
}

.swiper {
    position:relative;
    display:inline-block;
    width: 50vw;
}
.swiper-wrapper{
    display:flex;
    width:100%;
    align-items:center;
}
.swiper-slide {
    display:inline-block;
    width:100%;
}

.swiper-slide img {
    display:inline-block;
    width: 100%;
    object-fit:contain;
}
.aiw_exit{
    position: absolute;
    display: inline-block;
    right:2vw;
    top:2vh;
    font-size:4em;
    color:#47f33b;
    border:0px;
    padding:5px;
    background-color:transparent;
    cursor:pointer;
}
.aiw_exit *{
    font-size:inherit;
}