@charset "UTF-8";
/* menu */
.discographyInfo_box{
    display:inline-block;
    width:60%;
    margin:4vh 0;
}
.discographyInfo_back{
    text-align:left;
    padding:2vh 0;
}
.discographyInfo_back a{
    font-size:1vw;
    font-weight:600;
    text-transform:uppercase;
}
.discographyImgBox{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.discographyImg{
    display:inline-block;
    width:280px;
}
.discographyImg img{
    width:100%;
}
.discographyHeader{
    display:inline-block;
    width:100%;
    text-align:center;
}
.discographyHeader h2{
    font-size:2em;
    font-weight:600;
}
.discography_subHeader{
    display:inline-block;
    font-size:1.4em;
}
.discography_subHeader *{
    color:#585858;
    font-size:inherit;
}
/* track */
.trackList{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap: wrap;
    border-top:2px solid black;
    border-bottom:2px solid black;
    margin-top:2vh;
}
.track{
    width:100%;
    text-align:center;
    font-size:2em;
    padding:1vh 0;
    border-bottom:1px solid rgb(216, 211, 211);
}
.track:last-child{
    border-bottom:0px solid rgb(216, 211, 211);
}