.rootManger{
    display:inline-block;
    width:100%;
}
/* rootHeader */
.rootHeader{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    background-color:black;
    padding:0 10px;
}
.rootHeaderTitle{
    display:inline-block;
    font-size:2.4em;
    color:white;
    text-transform:uppercase;
}
.rootHeaderInfo{
    display:flex;
}
.rootHeaderInfo button{
    font-size:2em;
    border:0px;
    color:white;
    background-color:transparent;
    cursor:pointer;
}
.rootName{
    display:inline-block;
    margin:1vh 0;
    padding:10px 0;
    border-radius:5px;
    color:white;
}
.rootName h2{
    font-size:1.8em;
    text-align:center;
    margin-bottom:1vh;
}
.rootName h3{
    font-size:1.5em;
    text-align:center;
}
/* rootMangerBox */
.rootMangerBox{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
}