@charset "UTF-8";
.myReviewBox{
    display:flex;
    width:60%;
    flex-wrap:wrap;
    justify-content:center;
    margin:5vh 0;
}
.myReviewHeader{
    display:flex;
    width:100%;
    flex-wrap:wrap;
}
.go_myPage{
    display:inline-block;
    width:100%;
    padding-bottom:1vh;
    border-bottom:1px solid rgb(221, 220, 220);
}
.go_myPage i{
    font-weight:600;
    font-size:2em;
}
.go_myPage span{
    font-weight:600;
    font-size:1.8em;
}
.myReview_search{
    display:inline-block;
    width:100%;
    text-align:right;
}
.myReview_search{
    display:inline-block;
}
.myReview_search button{
    padding:5px 10px;
    background:transparent;
    border:0px;
    cursor:pointer;
}
.myReview_search button>span{
    font-size:1.5em;
}
.myReview_search button>i{
    font-size:1.8em;
}

/* container */
.myReviewContainerBox{
    display:inline-block;
    width:100%;
    background:#f0eaea;
    padding:1vh 0;
}
.myReviewContainer{
    display:inline-block;
    width:100%;
    padding:0 5px;
}
.myReviewDate{
    display:inline-block;
    width:100%;
}
.myReviewDate h2{
    font-size:2em;
    font-weight:600;
}
.myReviewInfo{
    display:inline-block;
    width:100%;
    border-radius:5px;
    background-color:white;
    padding:5px 5px;
}
.reviewTitle{
    display:inline-block;
    width:100%;
    font-size:1.8em;
    padding-bottom:1vh;
    border-bottom:1px dotted rgb(225, 221, 221);
}
.reviewTitle h3{
    font-size:inherit;
    font-weight:400;
}
/* content */
.myReviewContent{
    display:flex;
    width:100%;
    padding-top:5px;
}
.reviewImg{
    display:inline-block;
    width:200px;
}
.reviewImg img{
    width:100%;
    object-fit:contain;
}
.reviewText{
    display:flex;
    width:100%;
    padding-left:10px;
    font-size:1.5em;
}
.reviewText p{
    font-size:inherit;
}
.myReviewOptionBtn{
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;
    padding:5px 0;
}
.myReviewOptionBtn button{
    padding:5px 15px;
    font-size:1.5em;
    background:transparent;
    border:0px;
    border-bottom:1px solid rgba(0,0,0,0.5);
    margin-right:10px;
    cursor:pointer;
}
.myReviewOptionBtn button:last-child{
    margin-right:0px;
}