@charset "UTF-8";
.orderListBox{
    display:inline-block;
    width:60%;
    margin:5vh 0;
}
/* 주문배송조회 및 검색조건 */
.orderListHeader{
    display:inline-block;
    width:100%;
    margin-bottom:1vh;
}
.go_myPage{
    width:100%;
    text-align:left;
    font-weight:600;
    cursor:pointer;
    border-bottom:1px solid rgb(199, 196, 196);
    padding:1vh 0;
}
.go_myPage i{
    font-size:2em;
}
.go_myPage span{
    font-size:1.8em;
}
.orderList_search{
    display:inline-block;
    width:100%;
    text-align:right;
    padding:1vh 0;
}
.orderList_search button{
    padding:5px 10px;
    background:transparent;
    border:0px;
    cursor:pointer;
}
.orderList_search button>span{
    font-size:1.5em;
}
.orderList_search button>i{
    font-size:1.8em;
}
/* orderlist content */
.orderListContainer{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
    padding:0 5px;
    padding-bottom:5vh;
}
.orderListCotentBox{
    display:inline-block;
    width:100%;
    padding-top:4vh;
}
/* 주문날짜 및 주문상세 btn */
.olc_dateTitle{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding-bottom:1vh;
    border-bottom:1px solid #cec7c7;
}
.olc_dateTitle div{
    display:inline-flex;
    align-items:first baseline;
}
.olc_dateTitle div:first-child >h2{
    font-size:2em;
    font-weight:600;
}
.olc_dateTitle div:first-child > span{
    font-size:1.4em;
}
.olc_dateTitle div:last-child > a{
    display:flex;
    font-size:1.4em;
    align-items:center;
    color:rgb(33, 34, 34);
}
/* 주문상세 내용부분 */
.orderListCotent{
    display:inline-block;
    width:100%;
    border-radius:10px;
    padding:10px 1vw;
    box-shadow: 0px 8px 6px -6px #666;
}
.olc_header{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
}
.olc_header p{
    width:100%;
    text-align:left;
    font-size:1.4em;
}
.olc_header p:first-child{
    font-weight:600;
}
.olc_header p:last-child{
    color:rgb(17, 94, 94);
}
.olc_info{
    display:inline-block;
    width:100%;
    padding:1vh 0;
}
.olc_price{
    font-weight:600;
    font-size:1.5em;
}