.searchTypeBox{
    position:fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    z-index:2;
}
.searchTypeContainer{
    display:inline-block;
    width:350px;
    background-color:white;
    border-radius:5px;
    padding:0px 5px;
}
.searchTypeHeader{
    display:flex;
    width:100%;
    justify-content:flex-end;
    align-items:center;
    flex-wrap:wrap;
    padding-top:1vh;
}
.searchTypeHeader button{
    border:0px;
    font-size:1.5em;
    cursor: pointer;
    background:transparent;
}
.searchTypeHeader h2{
    width:100%;
    font-size:1.6em;
    font-weight:600;
    border-bottom:1px solid rgb(208, 203, 203);
    padding:5px 0;
}
.searchTypeContent{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    flex-wrap:wrap;
    padding:1vh 0;
}
.radio_item{
    position: relative;
    display: inline-block;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:15px;
    margin-bottom:1vh;
    margin-right:5px;
}
.radio_item>input[type=radio]{
    position: absolute;
    display:inline-block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    z-index: 1;
    cursor:pointer;
}
.radio_item>label{
    display:inline-block;
    width:100%;
    height:100%;
    text-align:center;
    font-size:1.5em;
    padding:10px 15px;
    border-radius:15px;
    background:#cdc7c7;
}
.radio_item input[type=radio]:checked + label{
    color:white;
    background-color: black;
}

/* search btn */
.searchTypeBtn{
    display:flex;
    width:100%;
    justify-content:center;
    padding:5px 0;
    border-top:1px solid rgb(208, 203, 203);
}
.searchTypeBtn button{
    display:inline-block;
    width:80%;
    font-size:1.5em;
    padding:10px 15px;
    cursor: pointer;
    color:white;
    border:0px;
    border-radius:5px;
    background:black;
}