@charset "UTF-8";
.myPageBox{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:60%;
    margin:10vh 0;
}
.myPageSubTitle{
    position: absolute;
    left:0;
    top:0;
    font-size:1.5em;
    font-weight:600;
    text-transform:uppercase;
}
.myPageHeader{
    position: relative;
    display:inline-block;
    width:420px;
    background:rgb(45, 44, 44);
    margin-top:30px;
    padding:48px 0 10px 0;
    border-radius:10px;
    border:0px solid black;
}
.myPageHeader_info{
    display:inline-block;
    width:100%;
    font-weight:600;
    padding:2vh 0;
    text-align:center;
    color:white;
}
.myPageHeader_info:first-child{
    font-size:2.4em;
}
.myPageHeader_info:last-child{
    font-size:2em;
}
/*로그아웃, 회원정보 수정*/
.myPage_basicSubBox{
    position: absolute;
    display:flex;
    width:100%;
    justify-content:flex-end;
    align-items:center;
    font-size:2em;
    padding:5px 0;
    right:0;
    top:0;
}
.myPage_basicSubBox form{
    display:inline-block;
    font-size:inherit;
}
.myPage_basicSubBtn{
    display:inline-block;
    color:white;
    background:transparent;
    font-size:inherit;
    margin-right:1vw;
    padding:5px;
    border:0px solid black;
    border-radius:10px;
    cursor: pointer;
}
.myPage_basicSubBox a:hover{
    color:rgb(251, 64, 64);
}
button.myPage_basicSubBtn:hover{
    color:rgb(251, 64, 64);
}

.myPageContent{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}
/*주문현황*/
.myPage_orderStatusBox{
    position:relative;
    display:inline-flex;
    width:100%;
    justify-content:space-around;
    align-items:center;
    background:white;
    border:1px solid rgb(122, 118, 118);
    border-radius:5px;
    padding:30px 10px;
    margin:7vh 0;
}
.myPage_orderStstusInfo{
    position:absolute;
    right:0;
    top:-20px;
    font-size:1.3em;
    color:rgb(111, 113, 116);
}
.myPage_orderStatus{
    display:inline-block;
    text-align:center;
}
.myPage_orderStatus dt{
    font-size:1.5em;
}
.myPage_orderStatus dd{
    font-size:2em;
}
/* menu */
.myPageMenuBox{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}
.myPageMenu{
    display:flex;
    width:250px;
    justify-content:center;
    padding:40px 15px;
    font-size:2.2em;
    cursor: pointer;
    background-color:rgb(45, 44, 44);
    color:white;
    border-radius:5px;
    margin-top:1vh;
    margin-right:1vw;
}
.myPageMenu dt{
    padding-right:10px;
}
.myPageMenu *{
    font-size:inherit;
}
