@charset "UTF-8";
.myPageBox{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:60%;
    margin:10vh 0;
}
.myPageSubTitle{
    position: absolute;
    left:0;
    top:0;
    font-size:1.5em;
    font-weight:600;
    text-transform:uppercase;
}
/*header*/
.myPageHeader{
    display:inline-block;
    width:100%;
    background:rgb(45, 44, 44);
    margin-top:30px;
    padding:0px 1vw;
    padding-bottom:2vh;
    border-radius:10px;
    border:0px solid black;
}
.myPageHeader_info{
    display:inline-block;
    font-weight:600;
    text-align:center;
    color:white;
    font-size:1.5em;
}
/*로그아웃*/
.logOutBox{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
    font-size:2em;
    padding:5px 0;
}
.myPage_basicSubBtn{
    display:inline-block;
    color:white;
    background:transparent;
    font-size:inherit;
    padding:5px;
    border:0px solid black;
    border-radius:10px;
    cursor: pointer;
}
.myPage_basicSubBtn:hover{
    color:rgb(251, 64, 64);
}
/* 가입자정보 */
.subInfoBox{
    display:inline-block;
    width:100%;
    background-color:white;
    padding:2vh 1vw;
}
.subInfo{
    display:flex;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    margin-top:1vh;
}
.subInfo dt{
    display:inline-block;
    width:23px;
    text-align:left;
    color:black;
    font-size:1.8em;
    margin-right:1vw;
}
.subInfo dd{
    display:flex;
    width:100%;
    justify-content:space-between;
}
.subInfoContent{
    display:flex;
    width:100%;
    background:rgb(232, 229, 229);
    border:0px;
    color:rgb(161, 150, 150);
    justify-content:center;
    align-items:center;
    font-weight:600;
    font-size:1.4em;
}
.editManageBtn{
    display:inline-block;
    width:50px;
    border:0px;
    border-radius:5px;
    color:white;
    font-weight:600;
    font-size:1.3em;
    padding:10px 5px;
    background:rgb(21, 44, 45);
    cursor:pointer;
}

.myPageContent{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}
/*주문현황*/
.myPage_orderStatusBox{
    position:relative;
    display:inline-flex;
    width:100%;
    justify-content:space-around;
    align-items:center;
    background:white;
    border:1px solid rgb(122, 118, 118);
    border-radius:5px;
    padding:30px 10px;
    margin:7vh 0;
}
.myPage_orderStstusInfo{
    position:absolute;
    right:0;
    top:-20px;
    font-size:1.3em;
    color:rgb(111, 113, 116);
}
.myPage_orderStatus{
    display:inline-block;
    text-align:center;
}
.myPage_orderStatus dt{
    font-size:1.5em;
}
.myPage_orderStatus dd{
    font-size:2em;
}
/* menu */
.myPageMenuBox{
    display:flex;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
}
.myPageMenu{
    display:flex;
    width:250px;
    justify-content:center;
    padding:40px 15px;
    font-size:2.2em;
    cursor: pointer;
    background-color:rgb(45, 44, 44);
    color:white;
    border-radius:5px;
    margin-top:1vh;
    margin-right:1vw;
}
.myPageMenu dt{
    padding-right:10px;
}
.myPageMenu *{
    font-size:inherit;
}
