<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hello.market.repository.mybatis.login.LoginMapper">
    <update id="update_tempPwd">
        update member
        set pwd = #{arg1}
        where id = #{arg0}
    </update>
    <insert id="insert">
        insert into login_check values(#{arg0}, #{arg1})
    </insert>
    <delete id="delete">
        delete from login_check where userNo = #{userNo}
    </delete>
    <select id="select_forgotPwd" resultType="Member">
        select user_id userId, id
        from member
        where user_id = #{userId}
            and phone = #{phone}
            and email = #{email}
    </select>
    <select id="select_forgotId" resultType="Member">
        select user_id userId
        from member
        where name = #{name}
            and phone = #{phone}
            and email = #{email}
    </select>
    <select id="inspect" resultType="Member">
        select id, user_id as userId, grade
        from Member
        where
            user_id = #{arg0} and pwd = #{arg1}
    </select>
    <select id="select" resultType="LoginCheck">
        select *
        from
            login_check
        where
            uuid = #{uuid}
    </select>
</mapper>