.fixedBox{
    position: fixed;
    display:flex;
    width:100%;
    height:100%;
    justify-content:center;
    align-items:center;
    z-index:2;
    background:rgba(0,0,0,0.7);
}
.orBox{
    position:relative;
    display:inline-flex;
    width:420px;
    justify-content:center;
    flex-wrap: wrap;
    background-color:rgb(255,255,255);
    border-radius:15px;
    padding:10px 5px;
}
.orBoxExit{
    position:absolute;
    font-size:1.5em;
    background-color:transparent;
    border:0px;
    right:5px;
    top:10px;
    cursor: pointer;
}
.orHeader{
    display:inline-block;
    width:100%;
}
.orHeader>h1{
    font-size:1.8em;
    font-weight:600;
}
.orContent{
    display:inline-block;
    padding:0px 10px;
}
.orInfoCheck{
    position:relative;
    display:inline-flex;
    font-size:1.7em;
    padding:10px 0;
    align-items:center;
}
.orInfoCheck input{
    position:absolute;
    width:100%;
    height:100%;
    cursor:pointer;
    opacity:0;
    z-index:1;
    left:0;
    top:0;
}
.orderRegistry_checkBox{
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
    margin-right:10px;
    border-radius:20px;
    border:1px solid black;
    background:transparent;
}
.orderRegistry_checkBox span{
    position: absolute;
    display:inline-block;
    width:10px;
    height:10px;
    left:4px;
    top:4px;
    border-radius:10px;

}
.orInfoCheck>input[type="checkbox"]:checked+.orderRegistry_checkBox>span{
    background-color:black;
}
.orInfoCheck *{
    font-size:inherit;
}
.orInfo{
    display:inline-block;
    width:100%;
    font-size:1.5em;
    padding:10px 0;
}
.orInfo>input{
    width:100%;
    padding:14px 5px;
    outline:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:5px;
    font-size:inherit;
}
.orInfo_title{
    display:inline-block;
    width:100%;
    font-size:inherit;
    margin-bottom:10px;
}
.orInfo input{
    width:100%;
    padding:14px 5px;
    outline:none;
    border:1px solid rgba(0,0,0,0.5);
    border-radius:5px;
    font-size:inherit;
}
.orAddr_search{
    position: relative;
    display:inline-block;
    width:100%;
    font-size:inherit;
}
.orAddr_search input{
    padding-left:30px;
}
.oraddr_icon{
    position: absolute;
    display:flex;
    width:100%;
    height:100%;
    font-size:1.1em;
    justify-content:flex-start;
    align-items:center;
    left:0;
    top:0;
    background:transparent;
    border:0px;
}
.oraddr_icon i {
    color:rgb(124, 119, 119);
    font-size:inherit;
}
.orInfo_errMsg{
    width:100%;
    font-size:inherit;
    color:#f37171bd;
}
.orSaveBtn{
    display: inline-block;
    width:100%;
    padding:10px;
    text-align:center;
}
.orSaveBtn>button{
    display:inline-block;
    padding:10px 20px;
    font-size:1.7em;
    border-radius:5px;
    background-color: #39d19ebd;
    color:aliceblue;
    border:0px;
    cursor: pointer;
}

.orSaveBtn>button:hover{
    background-color: #2fac82bd;
}

/* 배송지 주소 변경 창 */
.orAddrBox{
    display:inline-flex;
    min-width: 360px;
    width:50%;
    justify-content:center;
    flex-wrap: wrap;
    background-color:rgb(255,255,255);
    padding:10px 0px;
    border-radius:15px;
}
.orAddrHeader{
    display:inline-flex;
    width:100%;
    padding:20px 5px;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #2ead8349;
}
.orAddrBoxExit{
    font-size:2em;
    background-color:transparent;
    border:0px;
    cursor: pointer;
}
.orAddrBoxAdd{
    color:#2ead83bd;
    font-size:1.8em;
    background:transparent;
    border:0px;
    cursor: pointer;
}
.orAddrHeader>h1{
    text-align:center;
    font-size:2em;
    font-weight:600;
}
.orAddrContents{
    display:inline-block;
    padding:5vh 2vw;
}
.orAddrContent{
    display:inline-flex;
    width:100%;
    align-items:center;
    justify-content:flex-start;
    padding:10px 0;
    border-bottom:1px solid #2ead8349;
}
.orAddrContent label>input{
    width:20px;
    height:20px;
}
.orAddrInfo{
    margin-left:10px;
    font-size:1.5em;
}
.orAddrInfo *{
    font-size:inherit;
}
.orAddrInfo p{
    padding:2px 0;
}
.addrBasic_mark{
    border:1px solid #2ead83bd;
    padding:0.1em 0.4em;
    border-radius:15px;
    color:#2ead83bd;
    margin-left:2px;
}
.orAddrBtn{
    margin-top:5px;
}
.orAddrBtn button{
    border:1px solid rgb(163, 158, 158);
    background:transparent;
    border-radius:5px;
}
.orAddrSaveBtn{
    display: inline-block;
    width:100%;
    padding:10px;
    text-align:center;
    border-top:1px solid #2ead8349;
}
.orAddrSaveBtn>button{
    display:inline-block;
    width:100%;
    padding:10px 20px;
    font-size:2em;
    border-radius:5px;
    background-color: #39d19ebd;
    color:aliceblue;
    border:0px;
    cursor: pointer;
}
.orAddrSaveBtn>button:hover{
    background-color: #2fac82bd;
}